// 借鉴 飞冰的一套写法
@import 'color';

@import './theme/default.scss';

// 工具类名统一前缀
$prefix: mana;

// 禁止用户选中 鼠标变为手形
%unable-select {
  user-select: none;
  cursor: pointer;
}

// 填满父元素
// 组要父元素 position: relative | absolute;
%full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

// flex 垂直水平居中
%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
%flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 滚动条美化
%scrollbar-beauty {
  /*滚动条的宽度*/
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  /*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
  &::-webkit-scrollbar-track {
    width: 6px;
    background-color: none;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  /*滚动条的设置*/
  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  /*滚动条移上去的背景*/
  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-center {
  @extend .row;
  justify-content: center;
}

.row-between {
  @extend .row;
  justify-content: space-between;
}

.row-around {
  @extend .row;
  justify-content: space-around;
}

.row-start {
  @extend .row;
  justify-content: flex-start;
}

.row-end {
  @extend .row;
  justify-content: flex-end;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.column-center {
  @extend .column;
  align-items: center;
}

.column-around {
  @extend .column;
  align-items: center;
  justify-content: space-around;
}

.column-between {
  @extend .column;
  align-items: center;
  justify-content: space-between;
}

.column-start {
  @extend .column;
  align-items: center;
  justify-content: flex-start;
}

.column-end {
  @extend .column;
  align-items: center;
  justify-content: flex-end;
}
